
nav{
height: 10vh;
display: flex;
background-color: rgb(106, 68, 29);
align-items: center;
justify-content: center;
top: 0px;
position: sticky;
}

.navbar{
    color: aliceblue;
    margin: 1rem;
    text-decoration: none;
    text-shadow: 2px 4px 5px rgb(198, 201, 23);
    font-weight: bold;
   

}

.navbar:hover{
    color: red;
}